

<div class"row">
  <div ng-controller="ScreencastsCtrl">
    <div class="col-xs-3">
      <div id="screencast-list-container" >
        <ul>
          <li ng-repeat="screencast in screencasts"
              ng-click="showScreencast(screencast, $index)">
            <h3 ng-class="{active: $index == selectedRow}">{{screencast.title}}
              <small>({{screencast.duration}})</small></h3>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-9">
      <div class="about">
        <h2>What is this app?</h2>
        <p>This is a simple responsive one page app built with AngularJS, Ruby on Rails, and Twitter Bootstrap 3. 
          The app pull's a list of screencasts from Railscast and creates a dynamic list, video is then played in Flowplayer.</p>
      </div>
      <div id="screencast-view-container" ng-show="selectedScreencast">
        <h2>{{selectedScreencast.title}}</h2>
        <p>{{selectedScreencast.summary}}</p>
        <div flow-player="" id="player"></div>
        <p class="video-link">
          Published at {{selectedScreencast.published_at | date: 'mediumDate'}}
          - <a ng-href="{{selectedScreencast.link}}">{{selectedScreencast.link}}</a>
        </p>
      </div>
    </div>
  </div>
</div>